@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.rtl{
  direction: rtl !important;
}

.ltr{
  direction: ltr !important;
}

/* input[type="checkbox"]{
  border-color: #c6c6c6 !important;
  border-radius: 4px !important;
  outline: none !important;
} */