@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.rtl{
  direction: rtl !important;
}

.ltr{
  direction: ltr !important;
}